@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 80%;
}
*::-webkit-scrollbar-track {
  scrollbar-color: rgb(24, 24, 24);
  border-radius: 20px;
  margin-top: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0 0 0 0.4);
  border-radius: 20px;
  border: 3px solid transparent;
}

@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
